@import '@/src/shared/styles/mixins';

.subForm {
  @include flex-column;

  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: center;
  }

  gap: 0.25rem;
  align-items: center;

  a {
    color: var(--color-purple-primary);
  }
}
