@import '@/src/shared/styles/mixins';

.container {
  @include breakpoint(tablet) {
    @include flex-center;
  }

  min-height: 100vh;
  padding-block: 2rem;
}

.wrap {
  @include flex-column;

  gap: 4rem;
  max-width: 30rem;
}

.logo {
  @include breakpoint(tablet) {
    margin-inline: auto;
  }
}

.main {
  @include flex-column;

  gap: 2rem;
}

.title {
  margin-bottom: 0.5rem;
  font: var(--font-head-md);
  color: var(--color-dark-grey);
}
