@import '@/src/shared/styles/mixins';

.container {
  @include breakpoint(tablet) {
    gap: 5rem;
  }

  @include flex-column;

  gap: 2rem;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.main {
  position: relative;

  display: flex;
  flex: auto;
  gap: 1rem;
  justify-content: space-between;
}

.section {
  &Left {
    @include breakpoint(laptop) {
      position: sticky;
      top: 1rem;

      display: flex;
      flex: 2;
      justify-content: center;

      max-height: 39.5rem;
    }

    display: none;
  }

  &Right {
    @include flex-column;

    flex: 3;
  }
}
