@import '@/src/shared/styles/mixins';

.container {
  display: flex;
  flex: 1;
}

.list {
  @include flex-column;

  gap: 3rem;
  width: 100%;
  margin-bottom: 2rem;
}

.spinner {
  @include flex-center;

  flex: 1;
}
