@import '@/src/shared/styles/mixins';

.container {
  @include flex-column;

  min-height: 100vh;
}

.header {
  position: relative;
  padding-block: 1.5rem;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 0;

    width: 100%;
    min-height: 20rem;

    background-color: var(--color-purple-primary);
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
  }
}

.headerInside {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-block: 1rem;
  padding-inline: 1.5rem;

  background-color: var(--color-white-primary);
  border-radius: 12px;
}

.main {
  flex: 1;
}
