@import '@/src/shared/styles/mixins';

$size: 1.5rem;

.loader {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: $size;
  height: $size;

  border: 5px dotted #fff;
  border-radius: 50%;

  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
