@use 'sass:map';

@import './variables';

@mixin truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin breakpoint($point) {
  @if map.has-key($map: $breakpoints, $key: $point) {
    $value: map.get(
      $map: $breakpoints,
      $key: $point,
    );

    @media screen and (min-width: $value) {
      @content;
    }
  }
}

@mixin primary-button {
  @include flex-center;

  @include breakpoint(mobile) {
    min-height: 2.875rem;
    padding-inline: 1.75rem;
  }

  cursor: pointer;

  gap: 8px;

  min-width: 3.25rem;
  min-height: 2.5rem;
  padding-inline: 1rem;

  font: var(--font-head-sm);
  color: var(--color-purple-primary);

  border: 1px solid var(--color-purple-primary);
  border-radius: var(--border-radius);

  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    background-color: var(--color-purple-secondary);
    box-shadow: 0 0 32px var(--color-purple-shadow);
  }

  &:disabled {
    pointer-events: none;
    filter: opacity(30%);

    &:hover {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

@mixin title {
  font:
    700 1.5rem/150% 'Instrument Sans',
    Arial,
    sans-serif;
  color: var(--color-dark-grey);
}
