@import '@/src/shared/styles/mixins';

.container {
  @include flex-column;

  @include breakpoint(tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  gap: 1rem;
  color: var(--color-light-grey);
}

.title {
  font: var(--font-body-md);
  color: var(--color-dark-grey);
}

.text {
  @include breakpoint(tablet) {
    max-width: 8.75rem;
  }

  font: var(--font-body-sm);
}
