@import '@/src/shared/styles/mixins';

.addButton {
  width: 100%;
  margin-bottom: 2rem;
}

.list {
  @include flex-column;

  gap: 3rem;
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-block: 1rem;

  border-top: 1px solid var(--color-purple-primary);
}

.saveButton {
  @include breakpoint(mobile) {
    width: auto;
  }

  width: 100%;
}
