@import '@/src/shared/styles/mixins';

.link {
  @include breakpoint(mobile) {
    min-width: 4.625rem;
    min-height: 2.875rem;
    padding-inline: 1rem;
  }

  @include flex-center;

  gap: 0.5rem;

  min-width: 3.25rem;
  min-height: 2.5rem;
  padding-inline: 0.5rem;

  font: var(--font-head-sm);
  color: var(--color-light-grey);

  background-color: transparent;
  border-radius: var(--border-radius);

  transition:
    color 0.2s ease,
    background-color 0.2s ease;

  &:hover {
    color: var(--color-purple-primary);
  }

  &Active {
    pointer-events: none;
    color: var(--color-purple-primary);
    background-color: var(--color-purple-tertiary);
  }
}

.icon {
  @include breakpoint(mobile) {
    display: none;
  }

  @include breakpoint(tablet) {
    display: block;
  }

  flex-shrink: 0;
  width: 1.3125rem;
  height: 1.25rem;
}

.text {
  @include breakpoint(mobile) {
    display: block;
  }

  display: none;
}
